.login-page-main {
    background-image: url('../../public/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- Login container -----------*/
.login-page-form-div {
    width: 80%;
    max-width: 300px;
    backdrop-filter: blur(7px);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding: 40px 40px;
}

/* ------ Login head --- */
.login-form-head {
    color: #FFFFFF;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}

/*---------- input field container ------- */
.login-form-input-field-div {
    position: relative;
    margin: 25px 0;
}

/*-------- input field label -------*/
.login-form-input-field-div label {
    color: #ffffffcc;
    position: absolute;
    top: 13px;
    left: 18px;
    pointer-events: none;
    transition: 0.3s ease-out;
    transform-origin: 0 0;
}

.focused label {
    transform: translateY(-20px) translateX(-10px) scale(0.8);
    color: #ffffff;
}

.login-form-input-field-div input {
    width: calc(100% - 30px);
    padding: 15px;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    transition: 0.3s;
    background-color: #00000000;
}

.focused input {
    color: #FFFFFF;
    outline: none;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: #00000000;
    border-radius: 0;
}

/*------------- submit button --------- */
.login-form-submit-button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: calc(100%);
    margin-top: 15px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all 0.3s linear;
}

/*----- dont have an accound - */
.dont-have-an-account-div {
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
}

/* --- loading button ------- */
.loading-login-button {
    color: transparent;
    background-color: #00000000;
    border-top: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    border-left: 4px solid #FFFFFF00;
    border-right: 4px solid #FFFFFF00;
    width: 40px;
    height: 40px;
    margin: 12.5px calc(50% - 20px);
    animation: rotateAnimation 1s linear infinite;
    animation-delay: 0.3s;
}

/*-- animation -------- */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--- error message ------- */
.login-form-error-message {
    color: #ff0000;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}